@import url('https://fonts.googleapis.com/css?family=Questrial')

$c_light: #F4F6F8
$c_dark_grey: #212B36

@font-face
	font-family: "Nexa Bold"
	src: url(fonts/NexaBold.woff)

@font-face
	font-family: "Nexa Light"
	src: url(fonts/NexaLight.woff)

@font-face
	font-family: "Autography"
	src: url(fonts/Autography.woff)

*
	margin: 0
	padding: 0
	-webkit-touch-callout: none
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

body
	background-color: $c_light
	overflow-x: hidden
	transition: background-color 0.5s ease
	-webkit-transition: background-color 0.5s ease

@media only screen and (min-width: 800px)
	.hb-button
		display: none

	.m-nav-wrapper
		display: none

@media only screen and (max-width: 800px)
	.nav-wrapper #nav-container, #content-container .year
		display: none !important

	.nav-wrapper
		top: 12.5vh !important
		padding: 0 7vw
		box-sizing: border-box
		display: block !important
		z-index: 30 !important

	.hb-button
		width: 4vh
		height: 4vh
		cursor: pointer
		float: right
		transition: 0.4s ease
		-webkit-transition: 0.4s ease
		z-index: 21

		&.white
			span
				background-color: white !important

		span
			transition: 0.8s ease
			-webkit-transition: 0.8s ease
			-moz-transition: 0.8s ease
			border-radius: 10px
			display: block
			position: relative
			top: 0
			right: 0
			height: 3px
			width: 100%
			background-color: $c_dark_grey

			&:nth-child(1)
				top: 0

			&:nth-child(2)
				top: 1vh

			&:nth-child(3)
				top: 2vh
		
		&.close
			span
				background-color: white

				&:nth-child(1)
					transform: translateY(1.3vh) rotate(-45deg)

				&:nth-child(2)
					width: 0

				&:nth-child(3)
					transform: translateY(-1.3vh) rotate(45deg)


	.m-nav-wrapper
		background-color: $c_dark_grey
		position: fixed
		top: 0
		right: 0
		z-index: 20
		width: 100%
		height: 0%
		display: flex
		flex-direction: column
		justify-content: center
		overflow: hidden
		transition: height 0.8s cubic-bezier(0.76, 0, 0.24, 1)

		.background
			position: absolute
			left: -20px
			top: -20px
			width: 110%
			height: 110%
			object-fit: cover
			z-index: -1
			opacity: 0

		&.active
			height: 100%

		ul
			margin: 0 auto
			list-style-type: none
			text-align: center

			li
				font-family: "Questrial", sans-serif
				text-transform: uppercase
				font-size: 9vw
				letter-spacing: 0.5vw
				line-height: 170%
				cursor: pointer
				color: white
				position: relative

				&:before, &:after
					background-color: white
					content: ''
					position: absolute
					width: 0%
					height: 5px
					top: 50%
					margin-top: -0.5px

				&:before 
					left: -2.5px
					
				&:after
					right: 2.5px
					transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1)
				
				&:hover:before 
					width: 100%
					transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1)
				
				&:hover:after
					background: transparent !important
					width: 100%
					transition: 0s


.nav-wrapper
	width: 100vw
	position: fixed
	margin: 0 auto
	top: 13vh
	z-index: 10
	display: flex
	justify-content: center

	#nav-container
		display: block

		&.white
			ul li
				color: white

				span:before, span:after
					background-color: white

		ul
			list-style-type: none

			li
				color: $c_dark_grey
				display: inline-block
				position: relative
				font-family: "Questrial", sans-serif
				font-weight: bold
				text-transform: uppercase
				letter-spacing: 0.6vh
				cursor: pointer
				font-size: 2.3vh
				transition: color 0.5s ease
				-webkit-transition: color 0.5s ease

				span
					position: relative

					&:before, &:after
						background-color: $c_dark_grey
						content: ''
						position: absolute
						width: 0%
						height: 2px
						top: 50%
						margin-top: -0.5px

					&:before 
						left: -2.5px
						
					&:after
						right: 2.5px
						transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1)
					
					&:hover:before 
						width: 100%
						transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1)
					
					&:hover:after
						background: transparent !important
						width: 100%
						transition: 0s

				&:not(:last-child):after
					color: inherit
					content: "\25C6"
					margin: 0 0.3rem


@media only screen and (max-width: 1250px)
	#listing-container .content-wrapper
		.item-date
			font-size: 6vw !important
		.item-title
			font-size: 9vw !important
			p
				overflow-wrap: break-word !important

#listing-container.moving *
	white-space: nowrap


#listing-container
	position: fixed
	top: 0
	left: 0
	width: 0
	height: 100vh
	z-index: 10
	background-color: $c_dark_grey
	overflow: hidden

	*
		white-space: normal

	.content-wrapper
		padding: 12vh 7vw
		padding-left: 0vw
		box-sizing: border-box
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center

		.close-container
			position: absolute
			top: 12vh
			font-size: 8vh
			color: $c_light
			font-family: "Questrial", sans-serif
			cursor: pointer

		.item-title
			font-family: "Nexa Bold", sans-serif
			font-size: 9vh
			letter-spacing: 0.5vh
			text-transform: uppercase
			position: relative
			color: $c_light
			font-family: "Nexa Bold", sans-serif
			font-size: 10vh
			letter-spacing: 0.5vh
			text-transform: uppercase
			position: relative
			-ms-word-break: break-all
			word-break: break-all

		.item-date
			color: $c_light
			font-family: "Nexa Light", sans-serif
			font-size: 5vh
			letter-spacing: 0.5vh
			text-transform: uppercase
			position: relative

		.role-container
			margin-top: 3vh

			ul
				list-style-type: none

			li.role
				color: $c_light
				font-family: "Nexa Light", sans-serif
				font-size: 2vh
				letter-spacing: 0.5vh
				text-transform: uppercase
				line-height: 200%

				&:before
					content: "> "

		.links
			position: absolute
			bottom: 12vh
			font-family: "Questrial", sans-serif
			text-transform: uppercase
			letter-spacing: 0.4vh

#content-container
	height: 100vh
	width: 100vw
	padding: 12vh 7vw
	box-sizing: border-box
	position: relative

	.load
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		text-align: center

		.loader
			width: 100%
			height: 100%
			display: flex
			flex-direction: column
			justify-content: center
			text-align: center
			font-family: "Nexa Bold", sans-serif
			font-size: 3vh
			letter-spacing: 1vh
			color: $c_dark_grey
			text-transform: uppercase

	.title-wrapper
		width: 100%
		position: relative
		margin-bottom: 7vh

		*
			display: inline-block

		p.year
			position: absolute
			right: 0
			font-family: "Nexa Bold", sans-serif
			font-size: 3vh
			color: $c_dark_grey
			letter-spacing: 0.5vh

	.content-wrapper
		position: relative
		height: 100%
		box-sizing: border-box
		z-index: 2

	.text-content
		z-index: 2
		width: 100%
		height: 90%
		display: flex
		flex-direction: column
		justify-content: center
		position: relative
		padding: 0 5vw
		box-sizing: border-box

		.bottom
			position: absolute
			bottom: 5vh
			right: 8vh

	.parallax-wrapper
		position: absolute
		left: 0
		z-index: -1
		width: 100%
		height: 100%
		border-radius: 1.5vh
		box-shadow: 3px 9px 18px rgba(0, 0, 0, 0.2)
		overflow: hidden
		box-sizing: border-box
		-webkit-touch-callout: none
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none

		img
			height: 100%
			width: 100%
			object-fit: cover

@media only screen and (min-width: 1250px)
	.h-signature
		display: block

	#content-container .text-content *
		text-align: right

@media only screen and (max-width: 1250px)
	#content-container .text-content *
		text-align: left

	.h-signature
		display: none

	#content-container .text-content .bottom
		text-align: left
		left: 5vw

@media only screen and (max-width: 750px)
	.title
		font-size: 8vw
		letter-spacing: 0.5vw

	.subtitle
		font-size: 4vw
		letter-spacing: 0.7vw

	.subheader
		font-size: 3.5vw
		letter-spacing: 0.7vw

@media only screen and (min-width: 750px)
	.title
		font-size: 6vh
		letter-spacing: 0.5vh

		&.signed
			font-size: 9vh

	.subtitle
		font-size: 3vh
		letter-spacing: 1vh

	.subheader
		font-size: 2.5vh
		letter-spacing: 1vh

@media only screen and (min-width: 1250px)
	.paragraph
		font-size: 2.1vh
		letter-spacing: 0px
		width: 50%
@media only screen and (max-width: 1250px)
	.paragraph
		font-size: 3vw
		letter-spacing: 0px
		width: 100%

.title, .subtitle, .subheader, .sublink
	color: $c_dark_grey
	font-weight: normal
	font-family: "Nexa Light", sans-serif
	text-transform: uppercase

	&.white
		color: white !important

.sublink
	display: flex
	flex-direction: column
	justify-content: center
	font-size: 2.5vh
	letter-spacing: 0.6vh

img.link-icon
	height: 100%

.title span
	font-family: "Nexa Bold", sans-serif

.title.signed
	font-family: "Autography", sans-serif !important
	text-transform: none !important

#content-container
	canvas
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 2

#content-container.work-click-area .content-wrapper
	display: flex;
	flex-direction: column;

#content-container .work-list
	box-sizing: border-box
	margin-top: auto
	height: 70vh
	display: flex
	flex-direction: column
	justify-content: center
	transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1)

	&.hold
		ul
			.list-item
				height: 40vh !important

			.list-item.hover
				height: 40vh !important
				width: 25vw !important
			
			.list-item .w-animate
				opacity:0 !important

			.list-item.hover img
				filter: none !important
				-webkit-filter: none !important

	ul
		margin: auto 0
		list-style-type: none
		white-space: nowrap

		&.disabled .list-item.hover img
			filter: none !important
			-webkit-filter: none !important

		.list-item
			display: table-cell
			vertical-align: middle
			overflow: hidden
			display: inline-block
			height: 60vh
			width: 25vw
			padding: 5vh
			box-sizing: border-box
			border-radius: 1.5vh
			box-shadow: 3px 9px 18px rgba(0, 0, 0, 0.2)
			cursor: pointer
			position: relative
			overflow: hidden
			z-index: 3
			transition: width 0.8s cubic-bezier(0.25, 1, 0.5, 1), height 0.8s cubic-bezier(0.25, 1, 0.5, 1)

			&.hover
				height: 70vh

			&:not(:last-child)
				margin-right: 5vh

			&.hover img
				filter: url(#waveTurbulance)
				-webkit-filter: url(#waveTurbulance)

			img
				z-index: 1
				height: 110%
				width: 110%
				object-fit: cover
				position: absolute
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%)
				-webkit-transform: translate(-50%, -50%)

			.scroll-done
				transition: 0.8s opacity ease
				-webkit-transition: 0.8s opacity ease

			.item-date
				position: absolute
				top: 6vh
				left: 6vh
				margin-right: 6vh
				color: white
				font-family: "Questrial", sans-serif
				font-weight: normal
				font-size: 1vw
				letter-spacing: 0.5vw
				text-transform: uppercase
				word-wrap: break-word
				white-space: nowrap
				z-index: 2

			.text-wrapper
				width: 20vw
				box-sizing: border-box
				position: absolute
				bottom: 6vh
				z-index: 2

				.item-title
					color: white
					font-family: "Questrial", sans-serif
					font-weight: normal
					font-size: 2.5vw
					z-index: 0
					opacity: 1
					letter-spacing: 0.4vw
					text-transform: uppercase
					word-wrap: break-word
					white-space: normal

				.item-summary
					color: white
					font-family: "Questrial", sans-serif
					font-weight: normal
					font-size: 1vw
					letter-spacing: 0.5vw
					margin-bottom: 2vh
					line-height: 140%
					text-transform: uppercase
					word-wrap: break-word
					white-space: normal


				.inline-wrapper
					width: 100%
					position: relative
					margin-top: 1vh

					*
						display: inline-block

		@media only screen and (max-width: 1450px)
			.list-item
				width: 40vw

				.text-wrapper
					width: 35vw

		@media only screen and (max-width: 1110px)
			.list-item
				width: 55vw

				.item-date
					font-size: 2vw

				.text-wrapper
					width: 50vw

					.item-title
						font-size: 4vw
					.item-summary
						font-size: 2vw

		@media only screen and (max-width: 650px)
			.list-item
				width: 70vw

				.item-date
					font-size: 3vw

				.text-wrapper
					width: 65vw

					.item-title
						font-size: 6vw
					.item-summary
						font-size: 3vw

@media only screen and (max-width: 1550px)

	.descriptor
		font-size: 5vw !important

.back-parallax-wrapper
	position: absolute
	margin-top: -10vh
	z-index: 0
	-webkit-touch-callout: none
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

	.back-title
		font-size: 28vw
		color: #DFE3E8
		font-family: "Nexa Bold", sans-serif
		transition: color 0.5s ease

		&.dark
			color: #07090a

#content-container.about
	overflow: hidden
	
	img.background
		position: absolute
		width: 110%
		height: 110%
		object-fit: cover
		left: -10px
		top: -20px
		transition: opacity 0.8s ease

	.paragraph 
		margin: 0 auto

	.profile-pic
		height: auto
		width: 30vh
		margin: 0 auto
		margin-bottom: 3vh

	.inline-wrapper 
		h3
			padding: 1vh 0
			border-radius: 2px
			box-sizing: border-box
			display: inline-block

			&:before, &:after
				background-color: white
				content: ''
				position: absolute
				width: 0%
				height: 2px
				bottom: 0
				margin-top: -0.5px

			&:before 
				left: -2.5px
				
			&:after
				right: 2.5px
				transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1)
			
			&:hover:before 
				width: 100%
				transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1)
			
			&:hover:after
				background: transparent !important
				width: 100%
				transition: 0s

			*
				font-family: "Questrial", sans-serif
				vertical-align: bottom

			img
				height: 3vh

		h3:not(:last-child)
			margin-right: 3vw

	.content-wrapper
		padding: 12vh 7vw
		box-sizing: border-box
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		text-align: center

.paragraph
	font-family: "Questrial", sans-serif
	line-height: 190%
	font-weight: normal

.subtle-text
	color: #B3BCF5
	font-family: "Questrial", sans-serif
	font-size: 2.4vh
	text-transform: uppercase
	letter-spacing: 0.3em

.white
	text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4)
	color: #fff !important

.link-btn
	margin-right: 2vh
	display: inline-flex !important
	position: relative
	font-family: "Questrial", sans-serif
	font-size: 1.8vh
	color: $c_light
	padding: 1.2vh
	text-decoration: none
	height: 3vh

	span
		margin: auto 0

	&:before
		content: ""
		display: block
		filter: invert(100%) !important
		background-repeat: no-repeat
		background-size: contain
		position: relative
		width: 3vh
		height: 100%
		float: left
		margin: 0 6px 0 0

	&.android:before
		background-image: url("../imgs/icn_android.png")
	&.web:before
		background-image: url("../imgs/icn_web.png")
	&.ios:before
		background-image: url("../imgs/icn_ios.png")
	&.private:before
		background-image: url("../imgs/icn_lock.png")

	&.private:hover
		cursor: not-allowed

.wave-filter
	filter: url(#waveTurbulance)
	-webkit-filter: url(#waveTurbulance)

	&.disabled
		filter: none !important
		-webkit-filter: none !important

.link
	color: $c_dark_grey
	text-decoration: none
	display: relative

	&.white
		color: white !important

		&.white::before
			background-color: white !important

.descriptor
	font-size: 3vh
	font-family: "Questrial", sans-serif
	text-transform: uppercase
	letter-spacing: 1vh
	color: $c_dark_grey
